
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;700&display=swap');

body{
    margin: 0px;
    width: 100%;
    font-family: 'Bodoni Moda', serif;
    font-size: 40px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 500; 
    line-height: 26.4px;
}