
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;700&display=swap');

body{
    margin: 0px;
    font-family: 'Bodoni Moda', serif;
    font-size: 40px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 500; 
    line-height: 26.4px;
}
#header{
    height: 20vh;
    position: fixed;
    font-size: 24px;
    margin-left: 24px;
}

#header img{
    margin-top: 10vh;
    margin-right: 40px;
    height: 30px;
}

a:link {
    color: #000000;
    font-size: 20px;
    text-decoration: none;
  }
a:visited {
    color: #000000;
  }

#content{
    height: 90vh;
    margin-left: 24px;
}

#photos{
    width: 100%;
    overflow: visible;
    white-space:nowrap;
}

#photos .photo{
    display: inline-block;
}

#photos img{
    margin-top: 25vh;
    width: 20vw;
}

#footer{
    height: 10vh;
    position: fixed;
    font-size: 20px;
    margin-left: 24px;
}

#footer span{
    margin-right: 20px !important; 
}


@media only screen and (max-width: 620px) {

    #photos img{
        margin-top: 25vh;
        width: 60vw;
    }
    #header{
        position: fixed;
        width: 100%;

    }
    #content{
        height: 75vh;
        margin-left: 24px;
    }
    #footer{
        position: fixed;

    }

}